* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 12rem;
    background-color: black;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar span {
    color: orange;
    text-shadow: 0 0 1rem #12f7ff;
}

.navbar ul {
    position: relative;
    display: flex;
    list-style: none;
}

.navbar a {
    position: relative;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 1.2rem;
    color: white;
    transition: 0.3s linear;
}

.navbar a:hover {
    color: orange;
    text-decoration: underline;
}

.products {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    max-width: 1200px;
    margin: 40px 200px;
}

.box-container {
    margin: 30px 50px;
    height: 500px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px 20px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.img-container {
    width: 300px;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.img-container img {
    background-color: rgba(170, 170, 170, 0.2);
    width: 100%;
    transition: transform 0.3s;
}

.img-container img:hover {
    transform: scale(1.2);
}

.img-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    pointer-events: none; /* Allows hover on the image beneath */
}

.img-container:hover .img-border {
    transform: scale(0.9);
    transition: all 0.3s;
    border: 4px solid orange;
    z-index: 1;
}

.description {
    padding: 10px 0;
}

.rating-like {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 25px;
}

.rating-like p {
    display: inline;
    color: black;
    margin-left: 10px;
    font-weight: 100;
}

.rating-like i {
    color: orange;
}

.products .btn {
    font-weight: 600;
    margin: 10px;
    padding: 6px 20px;
    border-radius: 6px;
}

.dark {
    background-color: black;
    color: white;
    border: 2.5px solid black ;
}


.dark:hover {
    color: black;
    background-color: white;
    border: 2.5px solid ;
    transition: all .2s;
}

.light {
    color: black;
    background-color: white;
    border: 2.5px solid ;
}

.light:hover {
    background-color: black;
    color: white;
    border: 2.5px solid black;
    transition: all .2s;
}

.products h2 {
    font-weight: 500;
}



@keyframes colorAnim {
    0% {
        background-color: red;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}