img {
    width: 500px;
    max-height: 90vh;
    border: 2px solid black;
    border-radius: 20px 5px;
}

body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    min-height: 90vh;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-shadow: 0 0 10px white;
    font-size: 20px;
    font-weight: 900;
}